



.re-table{
	width:100%;
	margin:20px auto 0px auto;
	/* max-width:960px; */
	border-collapse:collapse;
  border: solid #f2f2f2 1px;

}
.re-table th{
  background-color:#bfa979;
  color:white;
  padding: 10px 5px;
	font-size: 13px;
}
.re-table td{
	/* border:1px solid #000; */
	padding:10px;
	vertical-align:top;
  padding: 15px 5px;

	font-size: 13px;

}

.re-table tr:nth-child(even){
  background-color: #f9f9f9;
}

.re-table tr:nth-child(odd){
  background-color: white;
}
.stock-extra-unit{
  display: none;
}



@media screen and (max-width:1200px) {
	table.table-mobile {
		word-wrap:break-word;
	}
	table.table-mobile thead {
		display:none
	}
	table.table-mobile td {
		display:block;
		float:left;/* ie9 and under hack */
		width:100%;
		clear:both;
		background:white;
		padding:10px 5px;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
    /* padding-left: 20px; */

		/* margin-right: 15px; */



	}
	table.table-mobile tbody, table.table-mobile tr {
		display:block
	}
	.table-mobile td:before {
		content:attr(data-th);
		/* display:block; */
		font-weight:normal;
		margin:0 0 2px;
		color:#000;
	}
	.table-mobile tbody tr {
		float:left;width:100%;

    margin-bottom:40px;

	}


  .table-stocks tr td:nth-child(1){
    display: none;
  }
  .table-stocks tr td:nth-child(2){
    background-color:#bfa979;
    color:white;
  }

  .stock-extra-unit{
    display: inline;
  }

	.tb-boq tr td:nth-child(1){
		display: none;
	}
	.tb-boq tr td:nth-child(2){
		background-color: #87c4c1;
		color:white;
	}

	.tb-boq tr td:nth-child(4){
			/* display: none; */
	}

	.tb-course tr td:nth-child(4){
			display: block;
	}

}
